@import "./aviso.css";
@import "./form-style.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "nav main main"
    "nav  main main"
    "nav  main main";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
  width: 100%;
  background: #FFFFFF;
}

li {
  list-style: none;
}

nav {
  width: 80px;
  grid-area: nav;
  transition: .1s;
  position: relative;
  overflow: hidden;
}

main {
  display: flex;
  grid-area: main;
  padding: 10px;
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  justify-content: center;
  overflow-y: auto;
}

nav ul {
  width: 100%;
  height: 100vh;
  background: #F6F8FC;
  position: sticky;
  top: 0;
  left: 0;
}

nav:hover .item-text{
  opacity: 1;
  display: flex;
}

nav:hover .icon-des{
  margin: 0;
}

.item-text{
  opacity: 0;
  display: none;
}

nav:hover{
  width: 290px;
}

nav:hover ul li{
  margin-right: 10px;
}

nav ul li{
  border-radius: 0 10px 10px 0;
}

nav ul a {
  text-decoration: none;
  display: flex;
  cursor: pointer;
  gap: 12px;
  padding: 6px 5px;
  color: #202124;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
  font-weight: 700;
  margin-right: 10px;
  transition: .3s;
}

button {
  cursor: pointer;
  border: none;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #1a73e8;
  font-weight: 700;
  color: white;
  font-size: 15px;
}

.cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-weight: 700;
  height: 50px;
  background: rgb(194, 231, 255);
  border-radius: 8px;
}

.cadastro a,
.cadastro a span{
  padding: 0;
}

.icon-des{
  font-size: 30px !important;
  margin: 0 auto;
}

nav ul li:hover{
  background: #F9E9E7;
}
nav ul li:hover a{
  color: #C84031;
}

a {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

/* thead{
  position: sticky;
  top: 0;
  background: white;
} */

tr {
  display: grid;
  flex-direction: column;
  grid-template-columns: 50px 200px 1fr 200px 1fr;
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid #EDEFF1;
}

table tbody tr:nth-child(odd) {
  background-color: #F5F7F7;
}

th span{
  font-weight: 700;
  color: #00000054;
  display: flex;
  align-items: center;
  gap: 8px;
}

th,
td {
  font-weight: 400;
  display: flex;
  width: 100%;
  text-align: left;
  word-break: break-all;
  align-items: center;
}

th{
  gap: 5px;
}

td a{
  color: #00000054;
}

table tbody tr td:nth-child(2n+2) {
  color: #202124;
  font-weight: 700;
}

td span{
  align-items: center;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

input, select{
  border-radius: 8px;
  padding: 12px;
  border: 2px solid #EDEFF1;
}

.row-card{
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}


@media (max-width: 1000px){
  nav{
    display: none;
  }
}