<nav>
    <ul>
        <div style="padding:10px">
            <a href="/cadastro-aluno" class="cadastro">
                <span class="item-text">
                    Cadastrar de Aluno
                </span>
                <span class="material-symbols-outlined icon-des">
                    add
                </span>
            </a>
        </div>
        <li>
            <a href="/">
                <span class="material-symbols-outlined icon-des">
                    account_box
                </span>
                <span class="item-text">
                    Gerenciamento de Alunos
                </span>
            </a>
        </li>
        <li>
            <a href="/envio-curriculo">
                <span class="material-symbols-outlined icon-des">
                    send
                </span>
                <span class="item-text">
                    Envio Curriculo
                </span>
            </a>
        </li>
    </ul>
</nav>