@import "./aviso.css";
@import "./form-style.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  outline: none;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav  main main"
    "nav  main main";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
  width: 100%;
  background: #F6F8FC;
}

li {
  list-style: none;
}

h2 {
  margin: 30px 0;
}

nav {
  width: 80px;
  grid-area: nav;
  transition: .1s;
  position: relative;
  overflow: hidden;
}

header {
  grid-area: header;
  background: #F6F8FC;
  padding: 16px;
  position: sticky;
  top: 0;
  display: flex;
}

main {
  display: flex;
  grid-area: main;
  padding: 0 16px;
  width: 100%;
  max-width: 1330px;
  margin: 0 auto 20px;
  justify-content: center;
  background: white;
  overflow-y: auto;
  border-radius: 8px;
}

nav ul {
  width: 100%;
  height: 100vh;
  background: #F6F8FC;
  position: sticky;
  top: 0;
  left: 0;
}

nav:hover .item-text {
  opacity: 1;
  display: flex;
}

nav:hover .icon-des {
  margin: 0;
}

.item-text {
  opacity: 0;
  display: none;
}

nav:hover {
  width: 290px;
}

nav.open {
  width: 290px;
}

nav.open .item-text {
  opacity: 1;
  display: flex;
}

nav.open .icon-des {
  margin: 0;
}

nav:hover ul li {
  margin-right: 10px;
}

nav ul li {
  border-radius: 0 10px 10px 0;
}

nav ul a {
  text-decoration: none;
  display: flex;
  cursor: pointer;
  gap: 12px;
  padding: 6px 5px;
  color: #202124;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
  font-weight: 700;
  margin-right: 10px;
  transition: .3s;
}

button,
.button {
  cursor: pointer;
  border: none;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #1a73e8;
  font-weight: 700;
  color: white;
  font-size: 15px;
}

nav ul li:hover {
  background: #F9E9E7;
}

nav ul li:hover a {
  color: #C84031;
}

a {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

/* thead{
  position: sticky;
  top: 0;
  background: white;
} */

tr {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 200px 200px 100px;
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid #EDEFF1;
}

.curriculo-row {
  display: grid;
  grid-template-columns: 50px 200px 1fr 100px;
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid #EDEFF1;
}

.curriculos-table {
  margin-top: 30px;
}

table tbody tr:nth-child(odd) {
  background-color: #F5F7F7;
}

th span {
  font-weight: 700;
  color: #00000054;
  display: flex;
  align-items: center;
  gap: 8px;
}

th,
td {
  font-weight: 400;
  display: flex;
  width: 100%;
  text-align: left;
  word-break: break-all;
  align-items: center;
}

th {
  gap: 5px;
}

td a {
  color: #001d35;
}

table tbody tr td:nth-child(2n+2) {
  color: #202124;
  font-weight: 700;
}

td span {
  align-items: center;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.aluno span,
.curriculo a {
  align-items: center;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

input,
select {
  border-radius: 8px;
  padding: 12px;
  border: 2px solid #EDEFF1;
}

.selecao-curriculo {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  background: #EDEFF1;
  color: #646262;
  border-radius: 8px;
}

.toggle-menu span {
  font-size: 35px;
  cursor: pointer;
}

strong {
  color: #b1adad;
}

#dadosAlunosMobile {
  display: none;
}

#previaCurriculo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 16px;
  justify-content: center;
  background: #2021248a;
  cursor: pointer;
}

@media (max-width: 1000px) {
  body {
    grid-template-rows: 0fr;
  }

  nav {
    position: fixed;
    width: 290px;
    top: 70px;
    left: 0;
    transform: translateX(-1000px);
    transition: .4s;
  }

  nav.open {
    transform: translateX(0px);
  }

  .item-text {
    opacity: 1;
    display: flex;
  }

  .icon-des {
    margin: 0;
  }

  header {
    height: 70px;
  }

  #dadosAlunosMobile {
    display: flex;
  }

  #previaCurriculo {
    visibility: hidden;
  }
}