<section id="aluno-detalhes" class="container">
    <h2>Edição Usuário</h2>
    <a href="http://localhost:8080/">
        < Voltar </a>
</section>

<script>
    // Obtendo a URL atual
    const url = window.location.href;

    // Usando o URLSearchParams para obter os parâmetros da URL
    const params = new URLSearchParams(new URL(url).search);

    // Obtendo o valor do parâmetro 'iduser'
    const alunoId = params.get('idUser');

    function getApiAluno() {
        // Fazer solicitação GET para obter dados do servidor PHP
        fetch(`http://localhost:8080/api/v1/getCurriculo.php?idUser=${alunoId}`, {
            method: 'GET',
            credentials: 'include'
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                console.log(data);
                renderAlunoDetalhes(data);
                createCurriculosTable(data.curriculos);
            })
            .catch(error => {
                console.error('Erro:', error);
            });
    }
    getApiAluno();

    // Função para renderizar os detalhes do aluno
    function renderAlunoDetalhes(aluno) {
        const alunoDetalhes = document.getElementById('aluno-detalhes');

        const alunoDiv = document.createElement('div');
        alunoDiv.className = 'aluno';

        const alunoContent = `
        <div class="row-card">
            <div class="form-group">
                <label>Nome:</label>
                <input type="text" value="${aluno.nome}" name="nome">
            </div>
            <div class="form-group">
                <label>Ra:</label>
                <input type="text" value="${aluno.ra}" name="ra">
            </div>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="text" value="${aluno.email}" name="email">
        </div>
        <div class="form-group">
            <label>Telefone:</label>
            <input type="text" value="${aluno.telefone}" name="telefone">
        </div>
        <input class="button" type="submit" value="Cadastrar">
        `;

        alunoDiv.innerHTML = alunoContent;
        alunoDetalhes.appendChild(alunoDiv);
    }

    // Função para criar a tabela de currículos
    function createCurriculosTable(data) {
        const alunoDetalhes = document.getElementById('aluno-detalhes');

        if (!data.length) {
            console.log('não ha');
            const p = document.createElement('p');
            p.innerHTML = 'teste'
            alunoDetalhes.appendChild(p);
        }

        const table = document.createElement('table');
        table.className = 'curriculos-table';

        // Cabeçalho da tabela dentro do thead
        const headers = ['ID', 'Curso', 'Link do Currículo', 'Edição'];
        const thead = document.createElement('thead');
        const headerRow = `<tr class="curriculo-row">
                              ${headers.map(headerText => `<th>${headerText}</th>`).join('')}
                          </tr>`;
        thead.innerHTML = headerRow;
        table.appendChild(thead);

        // Corpo da tabela (linhas de currículos) dentro do tbody
        const tbody = document.createElement('tbody');
        data.forEach(curriculo => {
            const link = `<a href="http://localhost:8080/upload/${curriculo.midia}" target="_blank">http://localhost:8080/upload/${curriculo.midia}</a>`;
            const deleteButton = `<button onclick="deleteCurriculo('${curriculo.idCurriculo}', '${curriculo.midia}')">Excluir</button>`;

            const row = `<tr class="curriculo-row">
                            <td>${curriculo.idCurriculo}</td>
                            <td>${curriculo.nomeCurso}</td>
                            <td>${link}</td>
                            <td>${deleteButton}</td>
                        </tr>`;

            tbody.innerHTML += row;
        });

        table.appendChild(tbody);

        alunoDetalhes.appendChild(table);
    }

    function deleteCurriculo(idCurriculo, nomeArquivo) {
        fetch(`http://localhost:8080/api/v1/deleteCurriculo.php?idCurriculo=${idCurriculo}&nomeArquivo=${nomeArquivo}`, {
            method: 'DELETE',
            credentials: 'include'
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload()
                } else {
                    alert(data.error);
                }
                console.log('Resposta:', data);
            })
            .catch(error => {
                console.error('Erro ao deletar currículo:', error);
                alert('Erro ao deletar currículo. Por favor, tente novamente.');
            });
    }
</script>